body {
    font-family: Calibri;
    padding: 0;
    margin: 0;
}

/* Configuração de Layout FlexBox (Colunas,Linhas,Filhas) */
#content, #header, .navbar, #sidebar, #pessoa {
    display: flex;
    flex-direction: column;
}

#home, #section, #formulario_home, #formulario_morador, #formulario_visitante {
    display: flex;
    flex-direction: row;
}

#content > *, #header > *, .navbar > *, #home > *, #sidebar >, * #section > *, #pessoa > *, #formulario_home > *, #formulario_morador > *, #formulario_visitante {
    flex: 1 1 auto;
}

/* Header */
#header {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    padding: 10px;
    height: 40px;
    background: #d5dcde;
    margin-bottom: 1px;
}

#header a #imgLogo {
    width: 90px;
}

/* Navegation */
#navbar {
    cursor: pointer;
}

#menu {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#menu a {
    background: #20383e;
    color: #fff;
    display: block;
    -webkit-box-flex: 1;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}

#menu a:hover {
    background: #0d181b;
    color: #ffffff;
    transition: all .3s linear;
}

.material-icons {
    padding: 20px 0;
    width: 30px;
}

/* Main */
.main {
    background: #d5dcde;
    padding: 7px;
    margin: 0;
    min-height: 450px;
    box-shadow: inset 10px 10px 29px -14px rgba(0, 0, 0, 0.72);
}

/* Page - Home */
#home {
    min-height: 465px;
}

/* Page - Sidebar*/
#sidebar {
    width: 12%;
    margin: 3px 1px 0 1px;
}

.cancela {
    margin: 3px 0;
    width: 98%;
    border: 1px solid black;
    border-radius: 10px;
}

/* Page - Section */
#section {
    width: 88%;

}

.container {
    padding: 0;
    margin: 5px;
    border: 1px solid black;
    background: #abb9bd;
    width: 20%;
}

#idPessoa {
    width: 20%;
}

.fotoPessoa {
    border: 1px solid black;
    margin: 6px 0 20px 0;
    width: 165px;
    height: 195px;
}

#formulario_home {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    width: 41%;
    height: 434px;
}

#fotoHome {
    margin: 4px;
    border: 1px solid black;
    width: 125px;
    height: 145px;
}

#formulario_home form {
    margin-left: 2px;
    padding: 0 5px;
}

/* Morador */
#morador h1 {
    text-align: center;
}

#formulario_morador {
    border: 1px solid black;
    padding: 10px;
}

#formulario_morador form {
    margin-left: 5px;
}

#foto_morador {
    border: 1px solid black;
    margin: 5px;
    width: 165px;
    height: 195px;
}

/* Visitante */
#visitante h1 {
    text-align: center;
}

#formulario_visitante {
    border: 1px solid black;
    padding: 10px;
}

#formulario_visitante form {
    margin-left: 5px;
}

#foto_visitante {
    border: 1px solid black;
    margin: 5px;
    width: 165px;
    height: 195px;
}

/* Footer */
#footer {
    background: #141414;
    color: #fff;
    height: 40px;
}

#footer p {
    margin: 0;
    padding: 5px;
    font-family: Verdana;
}