<main class="main" ng-controller="funcionarioController">
    <div class="container layout_form">
        <h1 class="titulo">Cadastrar Funcionarios</h1>
        <article class="row formularios">
            <img class="col-md-3 img-circle fotoForm" id="foto_funcionario" src="imagens/user/user4.jpg"/>
            <div class="col-md-9">
                <form class="form-group">
                    <div class="form-group">
                        <label class="control-label" for="matricula">MATRÍCULA: </label>
                        <input class="form-control inputForm" type="text" name="matricula" id="matricula" size="20"
                               maxlength="30"
                               placeholder="Matricula" ng-model="funcionario.nome"/>
                        <label class="control-label" for="cargo">CARGO: </label>
                        <select class="form-control inputForm" nome="cargo" id="cargo">
                            <option label="Selecione">
                            <option value="PT">PORTEIRO</option>
                            <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                            <option value="SINDICO">SÍNDICO</option>
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="nome">NOME: </label>
                        <input class="form-control inputForm" type="text" name="nome" id="nome" size="20" maxlength="30"
                               placeholder="Nome Completo"/>
                        <label class="control-label" for="tel">TELEFONE: </label>
                        <input class="form-control inputForm" type="text" name="telefone" id="tel" size="20"
                               maxlength="30" placeholder="Telefone"/>
                        <label class="control-label" for="cel">CELULAR: </label>
                        <input class="form-control inputForm" type="text" name="celular" id="cel" size="20"
                               maxlength="30" placeholder="Ceular"/>
                        <label class="control-label" for="mail">EMAIL: </label>
                        <input class="form-control inputForm" type="text" name="email" id="mail" size="20"
                               maxlength="30" placeholder="Email"/>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="rg">RG: </label>
                        <input class="form-control inputForm" type="text" name="rg" id="rg" size="20" maxlength="30"
                               placeholder="Registro Geral"/>
                        <label class="control-label" for="orgexp">ORGÃO EXPEDIDOR: </label>
                        <input class="form-control inputForm" type="text" name="orgexp" id="orgexp" size="20"
                               maxlength="30"
                               placeholder="Orgão Expedidor"/>
                        <label class="control-label" for="uf">UF: </label>
                        <select class="form-control inputForm" nome="uf" id="uf">
                            <option label="Selecione">
                            <option value="RJ">RJ</option>
                            <option value="SP">SP</option>
                            <option value="MG">MG</option>
                            </option>
                        </select>
                        <label class="control-label" for="cpf">CPF: </label>
                        <input class="form-control inputForm" type="text" name="cpf" id="cpf" size="20" maxlength="30"
                               placeholder="CPF"/>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="endereco">ENDEREÇO: </label>
                        <input class="form-control inputForm" type="text" name="endereco" id="endereco" size="20"
                               maxlength="30"
                               placeholder="Endereço"/>
                        <label class="control-label" for="cep">CEP: </label>
                        <input class="form-control inputForm" type="text" name="cep" id="cep" size="20" maxlength="30"
                               placeholder="Endereço"/>
                        <label class="control-label" for="cidade">CIDADE: </label>
                        <select class="form-control inputForm" nome="cidade" id="cidade">
                            <option label="Selecione">
                            <option value="RF1">RIACHO FUNDO 1</option>
                            <option value="W3">W3 SUL</option>
                            <option value="Gua">GUARA</option>
                            </option>
                        </select>
                        <label class="control-label" for="estado">ESTADO: </label>
                        <select class="form-control inputForm" nome="estado" id="estado">
                            <option label="Selecione">
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="SP">São Paulo</option>
                            <option value="MG">Minas Gerias</option>
                            </option>
                        </select>
                    </div>


                    <button class="btn btn-primary" type="submit" ng-click="addmorador()">Salvar</button>
                    <input class="btn btn-primary" type="button" name="botao-visitante" value="Cancelar">
                </form>
            </div>
        </article>
        <h1 class="titulo">Consultar Funcionário</h1>
        <article id="table_visitante">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>RG</th>
                    <th>UF</th>
                    <th>CPF</th>
                    <th>OBSERVACAO</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="visitante in visitantes">
                    <td>{{visitante.nome}}</td>
                    <td>{{visitante.rg}}</td>
                    <td>{{visitante.ufRg}}</td>
                    <td>{{visitante.cpf}}</td>
                    <td>{{visitante.observacao}}</td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
    </div>
</main>