<main class="main" ng-controller="funcionarioController">
    <div class="container layout_form">
        <h1 class="titulo">Cadastrar Funcionário</h1>
        <article class="row formularios">
            <img class="col-md-3 img-rounded fotoForm" id="foto_funcionario" src="imagens/user/user0.jpg"/>
            <div class="col-md-9">
                <form class="form-group" name="funcionarioForm" novalidate >
                    <p class="message" ng-show="funcionarioForm.$invalid && submitted"></p>

                    <div class="form-group">
                        <label class="control-label" for="matricula">Matrícula: </label>
                        <input class="form-control inputForm" type="tel" name="matricula" id="matricula" maxlength="30"
                               placeholder="Matrícula" required
                               ng-class="{'hasError' : funcionarioForm.matricula.$invalid && submitted}"
                               required
                               ng-model="funcionario.matricula"/>
                        <p class="obrigatorio" ng-show="funcionarioForm.matricula.$invalid && submitted"></p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="cargo">Cargo: </label>
                        <select class="form-control inputForm" name="cargo" id="cargo" required
                                ng-class="{'hasError' : funcionarioForm.cargo.$invalid && submitted}"
                                ng-model="funcionario.cargo">
                            <option value="" disabled>Selecione</option>
                            <option value="SIN">Síndico</option>
                            <option value="ADM">Administrador</option>
                            <option value="AUX">Auxiliar Administrativo</option>
                            <option value="POR">Porteiro</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="nome">Nome: </label>
                        <input class="form-control inputForm" type="text" name="nome" id="nome" maxlength="30"
                               placeholder="Nome Completo" required
                               ng-class="{'hasError' : funcionarioForm.nome.$invalid && submitted}"
                               required
                               ng-model="funcionario.nome"/>
                        <p class="obrigatorio" ng-show="funcionarioForm.nome.$invalid && submitted"></p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="rg">RG: </label>
                        <input class="form-control inputForm" type="tel" name="rg" id="rg" maxlength="20"
                               placeholder="Registro Geral" required
                               ng-class="{'hasError' : funcionarioForm.rg.$invalid && submitted}"
                               ng-model="funcionario.rg"/>
                        <p class="obrigatorio" ng-show="funcionarioForm.rg.$invalid && submitted"></p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="ufRg">UF: </label>
                        <select class="form-control inputForm" name="ufRg" id="ufRg" required
                                ng-class="{'hasError' : funcionarioForm.ufRg.$invalid && submitted}"
                                ng-model="funcionario.ufRg">
                            <option value="" disabled>Selecione</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AM">AM</option>
                            <option value="AP">AP</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RO">RO</option>
                            <option value="RS">RS</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SE">SE</option>
                            <option value="SP">SP</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="cpf">CPF: </label>
                        <input class="form-control inputForm" type="tel" name="cpf" id="cpf" maxlength="11"
                               placeholder="CPF" required
                               ng-class="{'hasError' : funcionarioForm.cpf.$invalid && submitted}"
                               ng-model="funcionario.cpf"/>
                        <p class="obrigatorio" ng-show="funcionarioForm.cpf.$invalid && submitted"></p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="telefoneFixo">Telefone: </label>
                        <input class="form-control inputForm" type="tel" name="telefoneFixo" id="telefoneFixo"
                               maxlength="10"
                               placeholder="Telefone" required
                               ng-class="{'hasError' :funcionarioForm.telefoneFixo.$invalid && submitted}"
                               ng-model="funcionario.telefoneFixo"/>
                        <p class="obrigatorio" ng-show="funcionarioForm.telefoneFixo.$invalid && submitted"></p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="telefoneMovel">Celular: </label>
                        <input class="form-control inputForm" type="tel" name="telefoneMovel" id="telefoneMovel"
                               maxlength="10"
                               placeholder="Ceular" required
                               ng-class="{'hasError' : funcionarioForm.telefoneMovel.$invalid && submitted}"
                               ng-model="funcionario.telefoneMovel"/>
                        <p class="obrigatorio" ng-show="funcionarioForm.telefoneMovel.$invalid && submitted"></p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="email">Email: </label>
                        <input class="form-control inputForm" type="email" name="email" id="email" maxlength="30"
                               placeholder="Email" required
                               ng-class="{'hasError' : funcionarioForm.email.$invalid && submitted}"
                               ng-model="funcionario.email"/>
                        <p class="obrigatorio" ng-show="funcionarioForm.email.$invalid && submitted"></p>
                    </div>
                    <div class="form-group" ng-model="funcionario.ende">

                        <div class="form-group" ng-controller="enderecoController">
                            <label class="control-label" for="endereco">Endereço: </label>
                            <input class="form-control inputForm" type="text" name="endereco" id="endereco"
                                   maxlength="40"
                                   placeholder="Endereço" required
                                   ng-class="{'hasError' : funcionarioForm.endereco.$invalid && submitted}"
                                   ng-model="funcionario.endereco.endereco"/>
                            <p class="obrigatorio" ng-show="funcionarioForm.endereco.$invalid && submitted"></p>
                        </div>

                        <div class="form-group" ng-controller="enderecoController">
                            <label class="control-label" for="bairro">Bairro: </label>
                            <input class="form-control inputForm" type="text" name="bairro" id="bairro" maxlength="20"
                                   placeholder="Bairro" ng-model="funcionario.endereco.bairro"/>
                        </div>

                        <div class="form-group" ng-controller="enderecoController">
                            <label class="control-label" for="cep">CEP: </label>
                            <input class="form-control inputForm" type="tel" name="cep" id="cep" maxlength="20"
                                   placeholder="CEP" ng-model="funcionario.endereco.cep"/>
                        </div>

                        <div class="form-group" ng-controller="enderecoController">
                            <label class="control-label" for="estado">Estado: </label>
                            <select class="form-control inputForm" name="estado" id="estado"
                                    ng-model="funcionario.endereco.uf">
                                <option value="" disabled>Selecione</option>
                                <option value="ac">Acre</option>
                                <option value="al">Alagoas</option>
                                <option value="am">Amazonas</option>
                                <option value="ap">Amapá</option>
                                <option value="ba">Bahia</option>
                                <option value="ce">Ceará</option>
                                <option value="df">Distrito Federal</option>
                                <option value="es">Espírito Santo</option>
                                <option value="go">Goiás</option>
                                <option value="ma">Maranhão</option>
                                <option value="mt">Mato Grosso</option>
                                <option value="ms">Mato Grosso do Sul</option>
                                <option value="mg">Minas Gerais</option>
                                <option value="pa">Pará</option>
                                <option value="pb">Paraíba</option>
                                <option value="pr">Paraná</option>
                                <option value="pe">Pernambuco</option>
                                <option value="pi">Piauí</option>
                                <option value="rj">Rio de Janeiro</option>
                                <option value="rn">Rio Grande do Norte</option>
                                <option value="ro">Rondônia</option>
                                <option value="rs">Rio Grande do Sul</option>
                                <option value="rr">Roraima</option>
                                <option value="sc">Santa Catarina</option>
                                <option value="se">Sergipe</option>
                                <option value="sp">São Paulo</option>
                                <option value="to">Tocantins</option>
                            </select>
                        </div>

                        <div class="form-group" ng-controller="enderecoController">
                            <label class="control-label" for="cidade">Cidade: </label>
                            <select class="form-control inputForm" name="cidade" id="cidade"
                                    ng-model="funcionario.endereco.cidade">
                                <option value="" disabled>Selecione</option>
                                <option value="RF1">Riacho Fundo 1</option>
                                <option value="GR1">Guará 1</option>
                                <option value="SBO">São Sebastião</option>
                            </select>
                        </div>

                        <button class="btn btn-primary" type="submit" ng-click="addFuncionario(funcionario)">Salvar</button>
                        <button class="btn btn-primary" type="submit" ui-sref="home">Cancelar</button>
                </form>
                <p class="obrigatorio" ng-show="funcionarioForm.$invalid && submitted">* Os campos grifados são de
                    preenchimento obrigatório!</p>
            </div>
        </article>
    </div>

    <div class="list">
        <h1 class="titulo">Consultar Funcionário</h1>
        <article class="row">
            <div class="col-md-12 form-group">
                <label class="control-label" for="pesquisa">Pesquisar: </label>
          <input type="text" id="pesquisa" class="form-control inputSearch" ng-model="searchFuncionario" placeholder="Pesquisar Visitante"></div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Cargo</th>
                        <th>Nome</th>
                        <th>RG</th>
                        <th>UF</th>
                        <th>CPF</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>Editar/Apagar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="funcionario in funcionarios | filter: searchFuncionario | orderBy:funcionario.nome">
                        <td>{{funcionario.matricula}}</td>
                        <td>{{funcionario.cargo}}</td>
                        <td>{{funcionario.nome}}</td>
                        <td>{{funcionario.rg}}</td>
                        <td>{{funcionario.ufRg}}</td>
                        <td>{{funcionario.cpf}}</td>
                        <td>{{funcionario.telefoneMovel}}</td>
                        <td>{{funcionario.email}}</td>
                        <td>
                            <form class="form-inline">
                                <div class="form-group">

                                    <button type="button" class="btn btn-warning"
                                            ng-click="getCurrentFuncionario(funcionario)">
                                        <i class="button_list material-icons">mode_edit</i>
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                            ng-click="deleteFuncionario(funcionario.idPessoa)">
                                        <i class="button_list material-icons">delete_forever</i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</main>
