<main class="main">
    <div id="home">
        <!-- Sidebar -->
        <aside id="sidebar">
            <img class="cancela" src="imagens/cancela_fechada.png">
            <img class="cancela" src="imagens/cancela_aberta.png"/>
        </aside>
        <!-- Section -->
        <section id="section">
            <article class="wrapper">
                Entrada:
            </article>
            <article id="pessoa">
                <img class="fotoPessoa" src="imagens/user/user1.jpg">
                <img class="fotoPessoa" src="imagens/user/user4.jpg"/>
            </article>
            <article class="wrapper">
                Saída:
            </article>
            <article id="formulario_home">
                <img id="fotoHome" src="imagens/user/user2.jpg">
                <form>
                    <div>
                        <label for="nome">NOME: </label>
                        <input type="text" name="nome" id="nome" size="30" maxlength="30" placeholder="Nome Completo"
                               ng-model="visitante.nome"/>
                    </div>
                    <div>
                        <label for="rg">RG: </label>
                        <input type="text" name="rg" id="rg" size="20" maxlength="30" placeholder="Registro Geral"
                               ng-model="visitante.rg"/>

                        <label for="ufRG">UF: </label>
                        <select nome="ufRg" id="ufRG" ng-model="visitante.ufRg">
                            <option value="" disabled>Selecione</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="SP">São Paulo</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="GO">Goiás</option>
                            <option value="PI">Piauí</option>
                            <option value="MA">Maranhão</option>
                        </select>
                    </div>
                    <div>
                        <label for="cpf">CPF: </label>
                        <input type="text" name="rg" id="cpf" size="20" maxlength="11" placeholder="CPF"
                               ng-model="visitante.cpf"/>
                    </div>
                    <div>
                        <label for="bloco">BLOCO: </label>
                        <select nome="bloco" ng-options="unidade.bloco for unidade in unidades" id="bloco"
                                ng-model="visitante.bloco">
                            <option value="" disabled>Selecione</option>
                        </select>

                        <label for="numeroCasa">Casa: </label>
                        <select nome="numeroCasa" ng-options="unidade.numeroCasa for unidade in unidades"
                                id="numeroCasa"
                                ng-model="visitante.numeroCasa">
                            <option value="" disabled>Selecione</option>
                        </select>
                    </div>
                    <div>
                        <label for="observacao">OBSERVAÇÃO: </label>
                        <textarea name="observacao" id="observacao" id="obs" cols="45" rows="5" maxlength="65"
                                  placeholder="Deixe aqui sua Observação" ng-model="visitante.observacao"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" ng-click="addVisitante()">Salvar</button>
                    <button class="btn btn-primary" type="reset" name="botao-visitante">Cancelar</button>
                </form>
            </article>
        </section>
    </div>
</main>