<main class="main" ng-controller="moradorController">
    <div class="container layout_form">
        <h1 class="titulo">Cadastrar Morador</h1>
        <article class="row formularios">
            <img class="col-md-3 img-rounded fotoForm" src="imagens/user/user0.jpg"/>
            <div class="col-md-9">
                <form class="form-group" name="moradorForm" novalidate>
                    <p class="message" ng-show="moradorForm.$invalid && submitted"></p>
                    <div class="form-group">
                        <label class="control-label" for="nome">Nome: </label>
                        <input class="form-control inputForm" type="text" name="nome" id="nome" maxlength="30"
                               placeholder="Nome Completo" required
                               ng-class="{'hasError' : moradorForm.nome.$invalid && submitted}"
                               ng-model="morador.nome"/>
                        <p class="obrigatorio" ng-show="moradorForm.nome.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="rg">RG: </label>
                        <input class="form-control inputForm" type="text" name="rg" id="rg" maxlength="20"
                               placeholder="Registro Geral" required
                               ng-class="{'hasError' : moradorForm.rg.$invalid && submitted}"
                               ng-model="morador.rg"/>
                        <p class="obrigatorio" ng-show="moradorForm.rg.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="ufRg">UF: </label>
                        <select class="form-control inputForm" name="ufRg" id="ufRg" required
                                ng-class="{'hasError' : moradorForm.ufRg.$invalid && submitted}"
                                ng-model="morador.ufRg">
                            <option value="" disabled>Selecione</option>
                            <option value="ac">Acre</option>
                            <option value="al">Alagoas</option>
                            <option value="am">Amazonas</option>
                            <option value="ap">Amapá</option>
                            <option value="ba">Bahia</option>
                            <option value="ce">Ceará</option>
                            <option value="df">Distrito Federal</option>
                            <option value="es">Espírito Santo</option>
                            <option value="go">Goiás</option>
                            <option value="ma">Maranhão</option>
                            <option value="mt">Mato Grosso</option>
                            <option value="ms">Mato Grosso do Sul</option>
                            <option value="mg">Minas Gerais</option>
                            <option value="pa">Pará</option>
                            <option value="pb">Paraíba</option>
                            <option value="pr">Paraná</option>
                            <option value="pe">Pernambuco</option>
                            <option value="pi">Piauí</option>
                            <option value="rj">Rio de Janeiro</option>
                            <option value="rn">Rio Grande do Norte</option>
                            <option value="ro">Rondônia</option>
                            <option value="rs">Rio Grande do Sul</option>
                            <option value="rr">Roraima</option>
                            <option value="sc">Santa Catarina</option>
                            <option value="se">Sergipe</option>
                            <option value="sp">São Paulo</option>
                            <option value="to">Tocantins</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="cpf">CPF: </label>
                        <input class="form-control inputForm" type="text" name="cpf" id="cpf" maxlength="11"
                               placeholder="CPF" required
                               ng-class="{'hasError' : moradorForm.cpf.$invalid && submitted}"
                               ng-model="morador.cpf"/>
                        <p class="obrigatorio" ng-show="moradorForm.cpf.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telefoneFixo">Telefone: </label>
                        <input class="form-control inputForm" type="tel" name="telefoneFixo" id="telefoneFixo"
                               maxlength="10"
                               placeholder="Telefone" required
                               ng-class="{'hasError' : moradorForm.telefoneFixo.$invalid && submitted}"
                               ng-model="morador.telefoneFixo"/>
                        <p class="obrigatorio" ng-show="moradorForm.telefoneFixo.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telefoneMovel">Celular: </label>
                        <input class="form-control inputForm" type="tel" name="telefoneMovel" id="telefoneMovel"
                               maxlength="10"
                               placeholder="Ceular" required
                               ng-class="{'hasError' : moradorForm.telefoneMovel.$invalid && submitted}"
                               ng-model="morador.telefoneMovel"/>
                        <p class="obrigatorio" ng-show="moradorForm.telefoneMovel.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email: </label>
                        <input class="form-control inputForm" type="email" name="email" id="email" maxlength="30"
                               placeholder="Email" required
                               ng-class="{'hasError' : moradorForm.email.$invalid && submitted}"
                               ng-model="morador.email"/>
                        <p class="obrigatorio" ng-show="moradorForm.email.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">

                                          <label class="control-label" for="bloco">Bloco: </label>
                        <select class="form-control inputForm"  data-ng-model="firstSelect" data-ng-options="bloco.idBloco as bloco.letraBloco for bloco in blocos"
                                id="bloco"
                                required
                                ng-class="{'hasError' : moradorForm.bloco.$invalid && submitted}">
                            <option value="" disabled>Selecione</option>
                        </select>

                        <label class="control-label" for="numeroCasa">Número da Casa: </label>
                        <select class="form-control inputForm"
                                data-ng-model="secondSelect" data-ng-options=" unidade.numeroCasa for unidade in unidades | secondDropdown: firstSelect"
                                  ng-class="{'hasError' : moradorForm.numeroCasa.$invalid && submitted}"
                                  ng-change="morador.unidade=secondSelect">
                            <option value="" disabled>Selecione</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit" ng-click="addMorador()">Salvar</button>
                    <button class="btn btn-primary" type="reset" name="botao-morador">Cancelar</button>
                </form>
                <p class="obrigatorio" ng-show="moradorForm.nome.$invalid && submitted">* Os campos grifados são de
                    preenchimento obrigatório!</p>
            </div>
        </article>
    </div>

    <div class="list">
        <h1 class="titulo">Consultar Morador</h1>
        <article class="row">
            <div class="col-md-12 form-group">
                <label class="control-label" for="pesquisa">Pesquisar: </label>
                <input type="text" id="pesquisa" class="form-control inputSearch" placeholder="Pesquisar Morador">
            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>RG</th>
                        <th>UF</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>Bloco</th>
                        <th>Número da Casa</th>
                        <th>Editar / Apagar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="morador in moradores">
                        <td>{{morador.nome}}</td>
                        <td>{{morador.rg}}</td>
                        <td>{{morador.ufRg}}</td>
                        <td>{{morador.cpf}}</td>
                        <td>{{morador.telefoneFixo}}</td>
                        <td>{{morador.telefoneMovel}}</td>
                        <td>{{morador.email}}</td>
                        <td>{{morador.unidade.bloco.letraBloco}}</td>
                        <td>{{morador.unidade.numeroCasa}}</td>
                        <td>
                            <form class="form-inline">
                                <div class="form-group">
                                    <button type="button" class="btn btn-warning">
                                        <i class="button_list material-icons">mode_edit</i>
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        <i class="button_list material-icons" ng-click="deleteMorador(morador.idPessoa)">delete_forever</i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>

    <!--<div ng-show="isEdit" class="container layout_form">
        <h1 class="titulo">Cadastrar Morador</h1>
        <article class="row formularios">
            <img class="col-md-3 img-circle fotoForm" src="imagens/user/user4.jpg"/>
            <div class="col-md-9">
                <form class="form-group" name="moradorForm" novalidate>
                    <p class="message" ng-show="moradorForm.$invalid && submitted"></p>
                    <div class="form-group">
                        <label class="control-label" for="nome">Nome: </label>
                        <input class="form-control inputForm" type="text" name="nome" maxlength="30"
                               placeholder="Nome Completo" required
                               ng-class="{'hasError' : moradorForm.nome.$invalid && submitted}"
                               ng-model="morador.nome"/>
                        <p class="obrigatorio" ng-show="moradorForm.nome.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="rg">RG: </label>
                        <input class="form-control inputForm" type="text" name="rg" maxlength="20"
                               placeholder="Registro Geral" required
                               ng-class="{'hasError' : moradorForm.rg.$invalid && submitted}"
                               ng-model="morador.rg"/>
                        <p class="obrigatorio" ng-show="moradorForm.rg.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="ufRg">UF: </label>
                        <select class="form-control inputForm" name="ufRg" required
                                ng-class="{'hasError' : moradorForm.ufRg.$invalid && submitted}"
                                ng-model="morador.ufRg">
                            <option value="" disabled>Selecione</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="SP">São Paulo</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="GO">Goiás</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="cpf">CPF: </label>
                        <input class="form-control inputForm" type="text" name="cpf" maxlength="11"
                               placeholder="CPF" required
                               ng-class="{'hasError' : moradorForm.cpf.$invalid && submitted}"
                               ng-model="morador.cpf"/>
                        <p class="obrigatorio" ng-show="moradorForm.cpf.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telefoneFixo">TELEFONE: </label>
                        <input class="form-control inputForm" type="tel" name="telefoneFixo" maxlength="10"
                               placeholder="Telefone" required
                               ng-class="{'hasError' : moradorForm.telefoneFixo.$invalid && submitted}"
                               ng-model="morador.telefoneFixo"/>
                        <p class="obrigatorio" ng-show="moradorForm.telefoneFixo.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telefoneMovel">CELULAR: </label>
                        <input class="form-control inputForm" type="tel" name="telefoneMovel"
                               maxlength="10"
                               placeholder="Ceular" required
                               ng-class="{'hasError' : moradorForm.telefoneMovel.$invalid && submitted}"
                               ng-model="morador.telefoneMovel"/>
                        <p class="obrigatorio" ng-show="moradorForm.telefoneMovel.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">EMAIL: </label>
                        <input class="form-control inputForm" type="email" name="email" maxlength="30"
                               placeholder="Email" required
                               ng-class="{'hasError' : moradorForm.email.$invalid && submitted}"
                               ng-model="morador.email"/>
                        <p class="obrigatorio" ng-show="moradorForm.email.$invalid && submitted"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="bloco">Bloco: </label>
                        <select class="form-control inputForm" ng-options="unidade.bloco for unidade in unidades"
                                required
                                ng-class="{'hasError' : moradorForm.bloco.$invalid && submitted}"
                                ng-model="morador.bloco">
                            ng-model="morador.unidade">
                            <option value="" disabled>Selecione</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="numeroCasa">Numero da Casa: </label>
                        <select class="form-control inputForm"
                                ng-options="unidade.numeroCasa for unidade in unidades"
                                required
                                ng-class="{'hasError' : moradorForm.numeroCasa.$invalid && submitted}"
                                ng-model="morador.numeroCasa">
                            ng-model="morador.unidade">
                            <option value="" disabled>Selecione</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit" ng-click="editMorador(morador)">Salvar</button>
                    <button class="btn btn-primary" type="reset" name="botao-morador">Cancelar</button>
                </form>
                <p class="obrigatorio" ng-show="moradorForm.nome.$invalid && submitted">* Os campos grifados são de
                    preenchimento obrigatório!</p>
            </div>
        </article>
    </div>-->
</main>   
