<main class="main" ng-controller="unidadeController">
    <div class="container layout_form">
        <h1 class="titulo">Cadastrar Unidade</h1>
        <article class="row formularios">
          <div class="form-group">
            <a class="navbar-form" ui-sref="bloco">
                <i class="material-icons">group</i>
                <div>Criar novo bloco</div>
              </a>
          </div>

                <form class="form-group">


                    <div class="form-group">
                        <label class="control-label" for="bloco">Bloco: </label>
                        <select class="form-control inputForm" ng-options="bloco.letraBloco for bloco in blocos"
                                id="bloco"
                                ng-class="{'hasError' : moradorForm.bloco.$invalid && submitted}"
                                  ng-model="unidade.bloco">
                            <option value="" disabled>Selecione</option>
                        </select>
                    </div>
                    <div>
                        <label class="control-label" for="numeroCasa">Número da Casa: </label>
                        <input class="form-control inputForm" type="number" name="numero_casa" id="numeroCasa"
                               size="4"
                               maxlength="5"
                               placeholder="Número da Casa" ng-model="unidade.numeroCasa"/>
                    </div>
                    <button class="btn btn-primary" type="submit" ng-click="addUnidade()">Salvar</button>
                    <input class="btn btn-primary" type="button" name="botao-unidade" value="Cancelar">
                </form>
                <p class="obrigatorio" ng-show="moradorForm.nome.$invalid && submitted">* Os campos grifados são de
                    preenchimento obrigatório!</p>
            </div>
        </article>
    </div>
    <div class="list">
        <h1 class="titulo">Consultar Unidades</h1>
        <article class="row">
            <div class="col-md-12 form-group">
                <label class="control-label" for="pesquisa">Pesquisar: </label>
                <input type="text" id="pesquisa" class="form-control inputSearch" placeholder="Pesquisar Unidades">
            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Bloco</th>
                        <th>Número da Casa</th>
                        <th>Editar / Apagar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="unidade in unidades">
                        <td>{{unidade.bloco.letraBloco}}</td>
                        <td>{{unidade.numeroCasa}}</td>
                        <td>
                            <form class="form-inline">
                                <div class="form-group">
                                    <button type="button" class="btn btn-warning">
                                        <i class="button_list material-icons">mode_edit</i>
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        <i class="button_list material-icons">delete_forever</i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

</main>
